[*.axaml]
csharpier_formatter = csharp
indent_style = space
indent_size = 2
max_line_length = 120

[*.{xaml,xml}]
indent_style = space
indent_size = 2
max_line_length = 120

[*.{cs,csx}]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
indent_style = space
indent_size = 4
max_line_length = 120

dotnet_diagnostic.CA2007.severity = suggestion
dotnet_diagnostic.CA1848.severity = suggestion
dotnet_diagnostic.CA1515.severity = suggestion # Consider making public types internal