### Csharp template

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User specific
*.user

# Idea folder
.idea/

# Benchmark Results
BenchmarkDotNet.Artifacts/

# JetBrains Rider
*.sln.iml

# Nuke temporary files
.nuke/temp

# Local development configuration for Azure functions
local.settings.json